In [21]:
#importation des librairies 
import pandas
import scipy
import seaborn
import matplotlib.pyplot
import numpy

In [22]:
df = pandas.read_excel('Business_Case.xlsx')
#chargement du dataset
df.head()
#affichage des 5 première lignes du dataset

,session_id,platform,open_at,user_id,country,ab_cohort_id,segment_id,session_length,session_number_,publisher_revenue,fs_shown,rv_shown,game_count,offline_game_count,acquired_at,segment_name,ab_name,ab_cohort_name
0,e058d9e3-ea0c-4d16-a36e-3e9ed3840457,android,2020-02-09 11:27:45.717000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,36,5,0.000010,0,0,1,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
1,6b9d2f3d-fe82-45fb-9c67-9408934393b1,android,2020-02-09 11:04:38.491000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,158,4,0.000110,1,0,1,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
2,bdf0bb00-9241-4e2a-969b-c55267befa76,android,2020-02-09 10:59:48.496000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,90,3,0.000020,1,0,0,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
3,79ea0b6c-ea19-480d-b6b4-60acbef70241,android,2020-02-05 12:15:02.907000,51ea5d8d-9b28-4111-ab23-40961dc43321,AE,789,783,517,1,0.055515,7,0,4,0,2020-02-05 12:15:02.907000,android_new_users,ab-test_android,xxHigh
4,f5f1f67f-ac44-45ba-9650-07b8081d897f,android,2020-02-07 06:03:13.014000,ecfbf8db-300f-4ceb-a533-47d9bf0c9fc7,AE,790,783,385,1,0.014300,2,0,5,0,2020-02-07 06:03:13.014000,android_new_users,ab-test_android,gameTune

In [23]:
df.describe()
#statistiques descriptives

,ab_cohort_id,segment_id,session_length,session_number_,publisher_revenue,fs_shown,rv_shown,game_count,offline_game_count
count,372834.000000,372834.000000,372834.000000,372834.000000,372834.000000,372834.000000,372834.000000,372834.000000,372834.000000
mean,790.118836,785.972293,343.127223,4.733648,0.037661,3.962396,0.116744,3.295349,0.329238
std,4.728462,4.234101,428.156511,5.541589,0.059510,5.833954,0.587625,4.281505,2.304426
min,727.000000,722.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,787.000000,783.000000,73.000000,1.000000,0.001894,1.000000,0.000000,1.000000,0.000000
50%,789.000000,783.000000,200.000000,3.000000,0.016996,2.000000,0.000000,2.000000,0.000000
75%,794.000000,792.000000,462.000000,6.000000,0.049363,5.000000,0.000000,4.000000,0.000000
max,799.000000,792.000000,41561.000000,137.000000,2.891824,411.000000,54.000000,271.000000,270.000000

In [24]:
df.columns 
#Liste des colonnes

Index(['session_id', 'platform', 'open_at', 'user_id', 'country',
       'ab_cohort_id', 'segment_id', 'session_length', 'session_number_',
       'publisher_revenue', 'fs_shown', 'rv_shown', 'game_count',
       'offline_game_count', 'acquired_at', 'segment_name', 'ab_name',
       'ab_cohort_name'],
      dtype='object')

In [25]:
df.isnull().sum() 
#affichage des valeurs manquantes

session_id            0
platform              0
open_at               0
user_id               0
country               2
ab_cohort_id          0
segment_id            0
session_length        0
session_number_       0
publisher_revenue     0
fs_shown              0
rv_shown              0
game_count            0
offline_game_count    0
acquired_at           0
segment_name          0
ab_name               0
ab_cohort_name        0
dtype: int64

In [26]:
df.dropna()
#suppression des valeurs manquantes

,session_id,platform,open_at,user_id,country,ab_cohort_id,segment_id,session_length,session_number_,publisher_revenue,fs_shown,rv_shown,game_count,offline_game_count,acquired_at,segment_name,ab_name,ab_cohort_name
0,e058d9e3-ea0c-4d16-a36e-3e9ed3840457,android,2020-02-09 11:27:45.717000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,36,5,0.000010,0,0,1,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
1,6b9d2f3d-fe82-45fb-9c67-9408934393b1,android,2020-02-09 11:04:38.491000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,158,4,0.000110,1,0,1,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
2,bdf0bb00-9241-4e2a-969b-c55267befa76,android,2020-02-09 10:59:48.496000,3675ed02-ea35-4f01-8375-2ee48b06ac5c,TN,790,783,90,3,0.000020,1,0,0,0,2020-02-08 10:35:38.630000,android_new_users,ab-test_android,gameTune
3,79ea0b6c-ea19-480d-b6b4-60acbef70241,android,2020-02-05 12:15:02.907000,51ea5d8d-9b28-4111-ab23-40961dc43321,AE,789,783,517,1,0.055515,7,0,4,0,2020-02-05 12:15:02.907000,android_new_users,ab-test_android,xxHigh
4,f5f1f67f-ac44-45ba-9650-07b8081d897f,android,2020-02-07 06:03:13.014000,ecfbf8db-300f-4ceb-a533-47d9bf0c9fc7,AE,790,783,385,1,0.014300,2,0,5,0,2020-02-07 06:03:13.014000,android_new_users,ab-test_android,gameTune
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372829,8be26aa7-be0c-45c4-b55e-935f5d35cec4,ios,2020-02-17 07:52:06.131000,af301d08-dd5a-42c5-b9e8-b9115073ec2d,US,796,792,91,1,0.034047,1,0,2,0,2020-02-17 07:52:06.131000,ios_new_users,ab-test_ios,control
372830,f43b7940-7b04-43d2-97e7-e84679303bcf,ios,2020-02-17 04:38:01.166000,74b69fd3-5fbb-4de2-9e1d-edda05bf70de,US,799,792,452,1,0.104641,5,0,4,0,2020-02-17 04:38:01.166000,ios_new_users,ab-test_ios,gameTune
372831,cd5b92af-a4ec-4a63-ba15-018c461f194d,ios,2020-02-17 05:37:26.929000,b7c1d4da-6803-4f22-b7d7-3170f8f0ecd3,US,797,792,134,3,0.023911,1,0,1,0,2020-02-17 00:51:04.120000,ios_new_users,ab-test_ios,xHigh
372832,e094a2e7-598d-4686-b445-3f9196ff7936,ios,2020-02-17 02:25:25.366000,b7c1d4da-6803-4f22-b7d7-3170f8f0ecd3,US,797,792,271,2,0.104209,5,0,3,0,2020-02-17 00:51:04.120000,ios_new_users,ab-test_ios,xHigh
372833,83e6587d-f385-48cb-8d96-4d951a52b179,ios,2020-02-17 00:51:04.120000,b7c1d4da-6803-4f22-b7d7-3170f8f0ecd3,US,797,792,154,1,0.057915,3,0,2,0,2020-02-17 00:51:04.120000,ios_new_users,ab-test_ios,xHigh

In [27]:
df['publisher_revenus'] = df['publisher_revenus'].str.replace('.', ',')

KeyError: 'publisher_revenus'